Thumbs.db

## gradle
/.gradle
/build

## ForgeGradle
/run

## eclipse

/eclipse
/.settings
/.metadata
/config
/logs
/mods
/resourcepacks
/saves
/.classpath
/.project
/bin

## Jars
*.jar
!/gradle/wrapper/gradle-wrapper.jar